/* General styles */
body {
    background-color: #fafafa;
    margin: 0;
    padding: 0;
    max-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    font-family: sans-serif;
    color: #87001b;
}

h1,
h2,
h3 {
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
}

.table {
    border: thin solid #87001b;
    border-spacing: 10px;
    table-layout: fixed;
    width: 100%; 
}
/* =================================================================================== */
/* Header */
#banner {
    background-color: #87001b;
    padding: 0;
    margin:0;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.logo {
    width: 33%;
    border: thin solid #87001b;
}
#logo {
    height:100%;
    width:100%
}
.title {
    color: #ffffff;
    width: 33%;
}

.nav {
    color: #c8d6af;
    width: 33%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
/* nav styles below are from love running. Modified colours, text decoration and added position relative to parent element (#nav)*/
/* navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #fffdcc;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
    color: #87001b;   
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}
.nav-toggle-label {
    font-size: 2rem;
}

.nav a {
    color:#87001b;
    text-decoration: none;
}
/* =================================================================================== */
/* main */

/* Enlarge main element to push footer down. 
  Got this from love running */
main {
    flex: 1 0 auto;
}

main > p {
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

#about {
    background-color: #c8d6af;
    height: auto;
    display: flex;
    flex-direction: column;
    padding-left: 3%;
    padding-right: 3%;
}    

#respond {
    background-color: #fffdcc;
    height: auto; 
    display: flex;
    flex-direction: column;
    padding-left: 3%;
    padding-right: 3%;
}

#support {
    background-color: #c8d6af;
    height: auto;  
    display: flex;
    flex-direction: column;
    padding-left: 3%;
    padding-right: 3%;
}

.cell {
    padding-top: 1%;
    padding-bottom: 1%;
}

#about img {
    height: 30%;
    width: 30%;
    padding: 5px 50px 10px 50px;
    float:inline-start;
}

#respond img {
    height: 30%;
    width: 30%;
    padding: 5px 50px 10px 50px;
    float: inline-end;
}

#support img {
    height: 30%;
    width: 30%;
    padding: 5px 50px 10px 50px;
    float:inline-start;
}


table tr {
    text-align: left;
    float: left;
}

/* ================================================================================ */
/* footer */
footer {
    background-color: #87001b;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}

#contact {
    width:50%;
    padding: 10px;
}

#contact_us >h2 {
    color: #ffffff;
    text-align: left;
    padding-left: 10px;
}

#socials {
    width:50%;
    padding: 10px;
}

#socials >h2 {
    color: #ffffff;
    text-align: left;
    padding-left: 10px;
}

#contact_us label {
    color: #c8d6af;
    min-width:110px;
}

.text-input {
background: transparent;
color: #ffffff;
border: 1px solid #c8d6af;
height: 25px;
margin: 10px;
width: 200px;
}

.message-input {
    background: transparent;
    color: #ffffff;
    border: 1px solid #c8d6af;
    border-radius: 2px;
    padding-left: 5px;
    padding-right: 5px; 
    height: 100px;
    width: 200px;
}

.message-button {
    border-radius: 2px;
    background-color: #c8d6af;
    color:#87001b;
    font-size: 100%;
    margin-top: 20px;
    padding: 15px 32px;
}

#socials  i {
    font-size: 160%;
    padding: 20px;
    color: #ffffff;  
}


    /* media queries if needed copied from browserstack webpage */

    /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) { 
#logo {display: none;}
.logo {width:10%}
.title{width:50%}
}   
/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) { */
/* } */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) { */
/* } */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {

} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) { */
/* } */