/* General styles */
body {
    background-color: #fafafa;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    font-family: 'Lato', sans-serif;
    color: #87001b
}

h1,
h2,
h3 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* Header */
header {
    background-color: #87001b;
}

header h1 {
    color: #ffffff;
    text-align: center;
}

/* main */

/* Enlarge main element to push footer down. 
  Got this from love running */
main {
    flex: 1 0 auto;
}

main > p {
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

#div1 {
    background-color: #c8d6af;
    height: auto;
    width: 100%;
}

#div2 {
    background-color: #fffdcc;
    height: auto;
    width: 100%;
}

#div3 {
    background-color: #c8d6af;
    height: auto;
    width: 100%;
}

/* footer */
footer {
    background-color: #87001b;
}

/* Footer */
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #ffffff;

