/* General styles */
body {
    background-color: #fafafa;
    margin: auto;
    padding: 0;
    max-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    font-family: 'Lato', sans-serif;
    color: #87001b
}

h1,
h2,
h3 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.table {
    border: 10px solid #87001b;
}

/* Header */
header {
    background-color: #87001b;
}

header h1 {
    color: #ffffff;
    text-align: center;
}
 
/* need to position and size this better */
header #logo {
    max-width: 10%
       
 }

/* main */

/* Enlarge main element to push footer down. 
  Got this from love running */
main {
    flex: 1 0 auto;
}

main > p {
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

#div1 {
    background-color: #c8d6af;
    height: auto;
    width: 100%;
}

#div2 {
    background-color: #fffdcc;
    height: auto;
    width: 100%;
}

#div3 {
    background-color: #c8d6af;
    height: auto;
    width: 100%;
}

/* footer */
footer {
    background-color: #87001b;
}

/* Footer */
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #ffffff;
}

    /* media queries if needed copied from browserstack webpage */

    /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}